.nav {
	position: relative;
}

.navbar-brand {
	left: 45%;
	position: absolute;
	font-size: 45px;
	font-family: 'Allura', cursive;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}


.nav-link {
	
}