.some-space {
	padding-top: 2%;
}

.edit-profile-div, .dish-upload-div{
	border-width: 1px;
	border-style: solid;
	border-radius: 15px;
	padding: 4%;
}

.row-x {
	display: flex;
	height: 100%;
}

.btn-add-dish {
	float: right;
}

.row-form {
	position: relative;
	width: 100%;
}

.cancel {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.dish-img {
	width: 30%;
	height: auto;
}

.list-group-name: {
	float: right;
}